* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: #43658b; */
    background: #7e8a97;
}

h3 {
    /* font-family: sans-serif; */
    font-family: 'Quicksand', sans-serif;;
    font-size:20px;
    /* padding-right: 220px;
    padding-top: 2px; */
    font-weight: bold;
    text-align: center;
}


.main {
    background: #ccc;
    width: 400px;
    height: 175px;
    margin: 50px auto;
    position: relative;
    padding: 30px;
    border-radius: 15px;
}

.badge {
    width: 250px;
    background: #000;
    color: white;
    padding: 5px 10px;
    /* font-family: sans-serif; */
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: -25px;
    left: 20%;
    border-radius: 15px;
}

.badge2 {
    width: 100px;
    background: #000;
    color: white;
    padding: 5px 10px;
    /* font-family: sans-serif; */
    font-family: 'Quicksand', sans-serif;;
    font-weight: bold;
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 258px;
    left: 39%; 
    border-radius: 15px;
}

.clock {
    background: #ebebeb;
    text-align: center;
    font-size: 55px;
    height: 100%;
    padding-top: 25px;
    /* font-family: 'Mina', sans-serif; */
    /* font-family: sans-serif; */
    font-family: 'Quicksand', sans-serif;;
    border-radius: 15px;
}

.todolist {
    background: #ccc;
    width: 400px;
    height: 120%;
    max-height: 450px;
    /* height: 500px; */
    text-align: center;
    position: relative;
    margin: auto;
    font-family: sans-serif;
    padding: 15px;
    border-radius: 15px;
    overflow: auto;
}

input {
    font-size: 14px;
    width: 65%;
    left: 100%;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    border-bottom-style: solid 1px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    background: inherit;
    color: black;
}

input:focus {
    border-color: white;
}


.add {
    background: #81b214;
    display: block;
    font-size: 25px;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 0.5px solid black;
    position: relative;
    top: 25%;
    left: 46%;
    opacity: 0.5;
    /* margin-top: 15px; */
    margin: 10px 0 10px 0;

}

.add:hover {
    background: #bfdcae;
    display: block;
    /* font-size: 30px; */
    text-align: center;
    /* height: 35px;
    width: 35px;
    border-radius: 50%; */
    border: 0.5px solid black;
    opacity: 1;
}

.side-btn {
    /* display:block; */
    font-size: 15px;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.5px solid black;
    opacity: 0.5;
    margin: 10px 5px 10px 5px;
}

.done {
    background: #cedebd;
    /* margin: 10px; */
    
}

.delete {
    background: #ffc7c7;
}

.delete:hover {
    background: #ec0101;
    opacity: 1;
}

.done:hover {
    background: #81b214;
    opacity: 1;
}

.task-input {
    font-family: 'Quicksand', sans-serif;;
}

.done-strike {
    text-decoration: line-through;
}